body {

    margin: 0;
    padding: 0;
}

#container {

    width: 50%;
    display: flex;
    justify-content: center;
    margin: 0 25% 5% 25%
}

#form-group {

    width: 50%;
    text-align: center;
    padding: 10px 30px 10px 30px;
    background-color: rgb(200, 176, 147);
    border-radius: 20px;

}

label {

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    padding: 10%;
    margin: 10px;
}

input {

  
    font-size: 25px;
    border-radius: 10px;
    border: none;
    padding: 10px;
    color: rgb(17, 0, 255);
    margin: 15px;
}

button {
    padding: 10px 40px;
    margin: 10px;
}

.option{

    size: large;
    font-size: larger;
    width: 30px;
    padding: 10px 20px;
}
.selectDrop{

    font-size: 20px;
    padding: 5px 20px 5px 10px;
    border-radius: 10px;
    border: none;

}